@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rokkitt:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Quicksand, sans-serif;
    color: yellow;
    background-color: #201F24;
}
/*-------------------------------------------header*/
header {
    background-color: rgb(15,15,15);
    border-bottom: 2px solid yellow;
}

h2 {
    font-family: Rokkitt, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 15px;
}

#menu {
    font-size: 90%;
    list-style-type: none;
    display: flex;
}

#logo, #menu {
    line-height: 150px;
}

#menu li {
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px 10px 20px; 
}

#menu a:hover {
    background-color: yellow;
    color: black;
}

nav .active {
    border-bottom: 2px solid yellow;
}

/*-------------------------------------------Section 1-Hero image*/

.hero-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#cover-text h2 {
    color: white;
    text-transform: uppercase;
}

#cover-text {
    font-size: 100%;
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    width: 80%;
    height: auto;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    background-color: rgba(240, 54, 32, .7);
    margin: 0 auto;
    border-top: 2px solid yellow;
}

/*-------------------------------------------hr*/

hr {
    border-top: 2px solid yellow;
    margin: 75px 5% 75px 5%;
}

/*-------------------------------------------Section 2-table*/

.table-message {
    text-align: center;
    padding: 10px;
    background-color: rgba(240, 54, 32, .7);
    width: 90%;
    margin: 0 auto;
}

caption {
    margin-bottom: 10px;
}

.table {
    padding-top: 50px;
}

table {
    width: 80%;
    margin: 0 auto;   
}

table, th, td {
    border: 1px solid yellow;
    border-collapse: collapse;
}

td, th {
    padding: 15px;
}

th:nth-child(2) {
    background-color: rgba(240, 54, 32, .7);
    color: white;
}

td:nth-child(2) {
    background-color: rgba(240, 54, 32, .7);
    color: white;
}

/*-------------------------------------------ps5/xbox pages*/

#ps-info {
    display: block;
}

.console-image {
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 35px;
    border: 10px solid rgba(240, 54, 32, .7);
    border-radius: 20px;
    float: left;
}

.past-image {
    height: 200px;
    width:200px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 35px;
    border: 10px solid rgba(240, 54, 32, .7);
    border-radius: 20px;
}

#ps-message {
    height: 170px;
    background-color: rgba(240, 54, 32, .7);
    display: block;
    margin-right: 20px;
    margin-top: 20px;
    border-top: 2px solid yellow;
}

#ps-message h2 {
    width: 100%;
}

#ps-message p {
    width: 100%;
}

/*-------------------------------------------carousel*/

.carousel{
    background: rgba(240, 54, 32, .7);
    margin-top: 20px;
    border-right: 2px solid yellow;
}
.carousel-item{
    min-height: 280px;
}

.carousel-item img {
    width: 700px;
    padding: 20px 0px 60px 20px;
}

/*-------------------------------------------acordian*/

.accordion {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #201F24;
}

.card-header {
    border: 3px solid yellow;
    background-color: #B22F21;
}

.card-header button {
    color: white;
}

.card-header button:hover {
    color: white;
    text-decoration: none;
}

.card-body {
    background-color: #201F24;
    border-left: 3px solid yellow;
    border-right: 3px solid yellow; 
    text-align: center;
}

.inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 200px;
  display: inline-block;
  margin: 1% 5% 1% 5%;
}

/* On mouse-over, add a deeper shadow */
.inner-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.inner-card img{
    height: 200px;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

/*-------------------------------------------video*/

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 56%; 
}

.video-container iframe{
    display: block;
    border: 2px solid yellow;
    padding: 10px;
    background-color: rgba(240, 54, 32, .7);
    position: absolute;
    width: 60%;
    height: 60%;
}

/*-------------------------------------------sign up page*/

#signup-info {
    background-color: #B22F21;
}

.form-section {
    width:60%;
    margin: 0 auto;
    border: 2px solid yellow;
    padding: 10px;
}

label {
    width: 100%;
}

input[type=text], input[type=email] {
    width: 100%;
}

#hr-comp {
    border-top: 2px solid yellow;
    margin: 25px 5% 25px 5%;
}

#comp-section {
    display: flex;
}

#comp-info {
    color: white;
    width: 50%;
    padding: 10px;
}

#comp-input {
    width: 50%;
    padding: 10px;
}

#comp-input label {
    width: auto;
}

.comp-input-inner {
    width: 100%;
}

#reason {
    width: 100%;
}

.join-button {
    width: 90%;
    background-color: #B22F21;
    border-radius: 15px;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    color: white;
}

/*-------------------------------------------footer*/

footer {
    margin-top: 75px;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgb(15,15,15)
}

#footer-message {
    float: left;
    margin: 35px;
    width: 40%;
}

#footer-message i {
    color: yellow;
    font-size: 120%;
}

#footer-message i:hover {
    color: #F03620;
    font-size: 120%;
}

#footer-links {
    width: 60%;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 120%;
    padding: 3%;
    margin-right: 20px;
    color: yellow;
    border: 2px solid transparent;
    border-radius: 50%;
}

.social-links i:hover {
    color: #F03620;
    border: 2px solid yellow;
    border-radius: 50%;
}
/*-------------------------------------------media links*/

/*-------------------------------------------header*/

@media screen and (min-width: 950px) {
    .table-message {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    nav {
        display: block;
    }

    #logo {
        width: 100%;
    }

    #menu {
        display: block;
        line-height: 75px;
    }

    #menu li {
        text-align: center;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
        border: 2px solid transparent;
        padding: 10px 50px 10px 50px; 
        margin: 0;
    }

    #menu a:hover {
        background-color: yellow;
        border: 2px solid #F03620;
        color: black;
    }

    .video-container iframe{
    width: 80%;
    height: 80%;
    }

/*-------------------------------------------sign up page*/

.form-section {
    width:90%;
}

#comp-section {
    display: block;
}

#comp-info {
    width: 100%;
}

#comp-input {
    width: 100%;
}

/*-------------------------------------------footer*/

    #footer-message {
        display: none;
    }

    #footer-links {
        display: block;
        width: 100%;
    }

    #footer-links i {
        margin: 0px 5px 0px 5px;
        padding: 3%; 
    }
}