@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rokkitt:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Quicksand, sans-serif;
    color: yellow;
    background-color: #201F24;
}
/*-------------------------------------------header*/
header {
    background-color: rgb(15,15,15);
    border-bottom: 2px solid yellow;
}

h2 {
    font-family: Rokkitt, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 15px;
}

#menu {
    font-size: 90%;
    list-style-type: none;
    display: flex;
}

#logo, #menu {
    line-height: 150px;
}

#menu li {
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    border: 2px solid transparent;
}

#menu a:hover {
    background-color: yellow;
    border: 2px solid #F03620;
    color: black;
}

.active {
    border-bottom: 1px solid yellow;
}

/*-------------------------------------------Section 1-Hero image*/

.hero-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#cover-text h2 {
    color: white;
}

#cover-text {
    font-size: 100%;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 80%;
    height: auto;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    background-color: rgba(240, 54, 32, .7);
    margin: 0 auto;
    border-top: 2px solid yellow;
}

/*-------------------------------------------hr*/

hr {
    border-top: 2px solid yellow;
    margin: 75px 5% 75px 5%;
}

/*-------------------------------------------Section 2-table*/

table {
    width: 80%;
    margin: 0 auto;   
}

table, th, td {
    border: 1px solid yellow;
    border-collapse: collapse;
}

td, th {
    padding: 15px;
}

/*-------------------------------------------footer*/

footer {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgb(15,15,15)
}

#footer-message {
    float: left;
    margin: 35px;
    width: 40%;
}

#footer-message i {
    color: yellow;
    font-size: 120%;
}

#footer-links {
    width: 60%;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 120%;
    padding: 3%;
    margin-right: 20px;
    color: yellow;
}

/*-------------------------------------------media links*/

/*-------------------------------------------header*/

@media screen and (max-width: 850px) {
    nav {
        display: block;
    }

    #logo {
        width: 100%;
    }

    #menu {
        display: block;
        line-height: 75px;
    }

    #menu li {
        text-align: center;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
        border: 2px solid transparent;
    }

    #menu a:hover {
        background-color: yellow;
        padding: 10px 40px 10px 40px; 
        border: 2px solid #F03620;
        color: black;
    }

/*-------------------------------------------footer*/

    #footer-message {
        display: none;
    }

    #footer-links {
        display: block;
        width: 100%;
    }

     #footer-links i {
        margin: 0px 5px 0px 5px;
        padding: 3%; 
    }
